@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here I practice Web API for client application, as well as returning status codes and error pages for browser (MVC) and client application (API)..</p>
</div>
